{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <h1 class="card">Users index</h1>

    {% for flash_message in app.session.flashbag.get('add') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('edit') %}
    <div class="alert alert-info">
        {{ flash_message }}
    </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('delete') %}
    <div class="alert alert-danger">
        {{ flash_message }}
    </div>
    {% endfor %}

    <div class="col-md-10 offset-2">
        
   

    <h1>{{ dump(users) }}</h1>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>        
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('users_show', {'id': user.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}" class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     

    <a href="{{ path('users_new') }}" class="btn btn-info">Create new</a>

    </div>
{% endblock %}
